# Node
node_modules/
dist/
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
db.sqlite3

# OS
.DS_Store

# Capacitor
android/
ios/

# Gradle
.gradle/
**/build/

# IDEs
.idea/
.vscode/
*.iml

# Ignore user uploaded docs and SQL dumps
*.pdf
*.sql
*.docx
